.title {
    font-family: Helvetica Neue, Helvetica, Roboto, sans-serif;
    font-size: 6rem;
    font-weight: 100;
    letter-spacing: 2px;
    text-align: center;
    color: #f35626;
    background-image: -webkit-linear-gradient(90deg, #3776ff, #00fff2);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: hue 10s infinite linear;
    animation: hue 10s ease infinite;
}

Button {
    padding-left: 10px;
}

.listRepos {
    padding-left: 25%;
    padding-right: 25%;
}

.errorMessage {
    color: red;
}

.loadingAnim {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }

  .loadingAnim div {
    display: inline-block;
    position: absolute;
    left: 6px;
    width: 13px;
    background: #cef;
    animation: loadingAnim 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
  }

  .loadingAnim div:nth-child(1) {
    left: 6px;
    animation-delay: -0.24s;
  }

  .loadingAnim div:nth-child(2) {
    left: 26px;
    animation-delay: -0.12s;
  }

  .loadingAnim div:nth-child(3) {
    left: 45px;
    animation-delay: 0;
  }

  @keyframes loadingAnim {
    0% {
      top: 6px;
      height: 51px;
    }
    50%, 100% {
      top: 19px;
      height: 26px;
    }
  }
  
  @-webkit-keyframes hue {
    from {
      -webkit-filter: hue-rotate(0deg);
    }
    to {
      -webkit-filter: hue-rotate(-360deg);
    }
  }

  @keyframes hue {
    0%{background-position:82% 0%}
    50%{background-position:19% 100%}
    100%{background-position:82% 0%}
}
  